@tailwind base;
@tailwind components;
@tailwind utilities;
#show-members-panel {
  z-index: 1;
}
#add-members-panel {
  z-index: 1;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #202C33; 
  opacity: 0.5;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #111B21;
 
}
.custom-scrollbar-2::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar-2::-webkit-scrollbar-thumb {
  background-color: #202C33; 
  opacity: 0.5;
}

.custom-scrollbar-2::-webkit-scrollbar-track {
  background-color: #0B141A;
  
}
